@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* body {
	font-family: "Lato", sans-serif;
	color: #333;
	line-height: 1.6;
	background-color: var(--primary-color);
	color: var(--light-color);
}

:root {
	--primary-color: #047aed;
	--secondary-color: #1c3fa8;
	--dark-color: #002240;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 0 0;
	color: #333;
}

.card:hover {
	transform: scale(0.92);
}

.card.del {
	background-color: rgb(230, 32, 32);
}

.container {
	max-width: 400px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
